@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                Player
                <br />
                <div class="row">
                    <div class="col-2 border bg-light">
                        <table>
                            <tr ng-repeat="pl in playerShips">
                                <td>
                                    {{pl.cellStatus}}&nbsp; Sunk
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-10 border bg-light">
                        <table class="table table-bordered">
                            <tr ng-repeat="row in rowArr">
                                <td ng-repeat="col in row.playerBoardData | filter: { isPlayer: true }"
                                    class="{{col.cellStatus=='M' ? 'table-info' : ''}} {{col.cellStatus=='X' ? 'table-danger' : ''}}">
                                    {{ col.cellStatus }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                Computor
                <br />
                <div class="row">
                    <div class="col-10 border bg-light">
                        <table class="table table-bordered">
                            <tr ng-repeat="row in rowArr">
                                <td ng-repeat="col in row.playerBoardData | filter: { isPlayer: false }"
                                    class="{{col.cellStatus=='M' ? 'table-info' : ''}} {{col.cellStatus=='X' ? 'table-danger' : ''}}">
                                    <a href="" ng-click="attackButtonClicked(row,col)">{{ col.cellStatus }}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-2 border bg-light">
                        <table>
                            <tr ng-repeat="pl in computorShips">
                                <td>
                                    {{pl.cellStatus}}&nbsp; Sunk
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
